    <div class="side_up">
      <div class="name">
        <a class="name_a"  href="#">へずまりゅう</a>
      </div>
      <div class="chat_create">
        <a class="chat_create_a" href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side_down">
    <div class="room">
      <div class="room_name">
        <a href="#">お刺身交流会</a>
      </div>
    </div>
        <div class="room">
      <div class="room_name">
        <a href="#">迷惑系の集い</a>
      </div>
    </div>
    </div>