.wrapper{
  display: flex;
  height: 100vh;
}

  .side{
    background-color: #253141;
    width: 300px;
  }

    .side_up{
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      .name{
        font-size: 16px;
      }

      .name_a{
        color: #FAFAFA;
        text-decoration: none;
      }

      .chat_create{
        font-size: 10px;
      }

      .chat_create_a{
        color: deepskyblue;
        border: 1px solid lightblue;
        padding: 14px;
        text-decoration: none;
      }

    .side_down{
      background-color: #2F3E51;
      height: calc(100vh - 100px);
      padding: 0 20px;
      overflow: scroll;
    }

      .room{
        padding: 20px 0 40px;
      }

      .room_name a {
        color: white;
        text-decoration: none;
      }

  .main{
    background-color: #ffffff;
    width: calc(100vw - 300px);
  }

    .main_up{
      background-color: #FFFFFF;
      height: 100px;
      padding: 0 40px;
    }

    .main_center{
      background-color: #FAFAFA;
      height: calc(100vh - 100px - 90px);
      padding: 46px 40px 0;
    }

    .main_down{
      background-color: #DDDDDD;
      height: 90px;
      padding: 20px 40px;
    }